{% extends 'base.html' %}
{% block title %}Restaurants{% endblock %}
{% block styles %}
  {{ bootstrap.load_css() }}
  <link rel="stylesheet" href="../static/css/styles.css">
{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

    <h1>All Cafes</h1>

	  <table class="table table-dark table-striped table-hover">
        <!-- <thead>
          <tr>
            {%for head in cafes[0]%}
              <th>{{head}}</th>
            {%endfor%}
          </tr>
        </thead> -->
      {% for cafe in cafes %}
        <tr>
          {% for list in cafe %}
            {% if list[0:4] == 'http' %}
              <td>
                <a href="{{list}}">Maps link</a>
              </td>
            {%else%}
              <td>
                <p>{{list}}</p>
              </td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
  	</table>

      <p><a href="/">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
